<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">
  <test name="MISCTESTS">
  <parameter name="deviceName" value="emulator-5554"></parameter>
  <parameter name="platformName" value="android"></parameter>
  <parameter name="SystemPort" value="8201"></parameter>
    <classes>
      <class name="mmtTestCases.MiscTestCases"/>
    </classes>
  </test> <!-- Test -->
  <test name="FlightBooking">
  <parameter name="deviceName" value="emulator-5556"></parameter>
  <parameter name="platformName" value="android"></parameter>
  <parameter name="SystemPort" value="8202"></parameter>
    <classes>
      <class name="mmtTestCases.FlightBookingTests"/>
    </classes>
    </test>
</suite> <!-- Suite -->
